/* Fonte:  */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


a{
    color: aliceblue;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1s;
}

@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}


.navbar .logo{
    font-weight: 700;
    font-size: 35px;
    position: relative;
    left: 118px;
}

.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-right: 20px;
}
.navbar ul li a{
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
}

.navbar ul li:hover a,
.navbar ul li a.active {
    color: #002080;
}

.home{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: aliceblue;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1s;
}


.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    display: inline-block;
    font-size: 35px;
    margin-top: -10;
   
    
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #002080;
    border: 2px solid #002080;
    border-radius: 40px;
    box-shadow: 0 0 10px #002080;
    font-size:  16px;
    color: rgb(168, 178, 240);
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover{
    background: transparent;
    color: #002080;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-right: 20px;
    margin-top: 40px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #002080;
    border-radius: 50px;
    font-size: 20px;
    color: #002080;
    margin: 0 8px;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover{
    background: #002080;
    color: aliceblue;
    box-shadow: none;
}
.home-img .img-box {
    position: relative;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent, #0289ff);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after{
    animation-delay: -5s;
}

@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #00516d;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #00516d;
    
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
    top: -35%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background: #00516d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s *var(--i));
}
@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}

/*pagina experiecia*/

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
   
  }
  
  .progress {
    height: 20px;
    background-color: #002080;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
  }
  table {
    border-collapse: collapse; /* Une as bordas das células */
    width: 100%;
    margin-bottom: 50px; /* Adiciona espaço abaixo da tabela */
  }
  
  th, td {
    border: 1px solid #ddd; /* Adiciona uma borda fina às células */
    padding: 10px; /* Espaçamento interno */
    text-align: left; /* Alinha o texto à esquerda */
  }
  
  tr:nth-child(even) {
    background-color: transparent; /* Adiciona uma cor diferente às linhas pares */
  }
  
  tr:hover {
    background-color: transparent; /* Destaca a linha ao passar o mouse */
  }
  
  
.home-img2 .img-box2 {
    position: relative;
    width: 16vw;
    height: 16vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img2 .img-box2::before,
.home-img2 .img-box2::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent, #0289ff);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img2 .img-box2::after{
    animation-delay: -5s;
}

@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}

.home-img2 .img-box2 .img-item2{
    position: relative;
    width: 100%;
    height: 100%;
    background: #00516d;
    display: flex;  
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #00516d;
    
}
.home-img2 .img-box2 .img-item2 img{
    position: absolute;
    display: block;
    width: 150%;
    object-fit: cover;
    bottom: 0%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.experiencia{
    position: relative;
    bottom: 10px;
}

/*Pagina PRojetos*/

.home3{
    position: relative;
    text-align: center;
    top: 100px;
    gap: 50px;
    padding: 60px 9% 0;
    color: aliceblue;
    visibility: hidden;
    opacity: 0;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.5s;
}


.home-info3 .projetos {
    font-size: 55px;
}


.home-info3 .meusProjetos span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px blue;
    animation: display-text-2 16s linear infinite;
}




.home-info3 .meusProjetos span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #0289ff;
    color: #0289ff;
    white-space: nowrap;

} 

.home-info3 p {
    font-size: 16px;
    margin: 10px 0 25px;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projetos-sessao{
    padding: 8rem;
    text-align: center;
   
}

.filtros{
    text-align: center;
    margin-top: 100px;
}
.btn-filtro{
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    transition: background-color 0.3s ease

}
.btn-filtro:hover{
    background-color:#002080; 
    color: white;

}



.meusProjetos{
    font-size: 55px;
    margin-bottom: 1rem;
}

.projetos-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}
.projeto{
    background-color: rgb(126, 127, 128);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeInUp 2s ease forwards; /* Animação quando carregado */
}

.projeto:hover{
    transform: translateY(-10px);
}

.projeto-img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.btn-projeto{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    background-color: #002080;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-projeto:hover {
    background-color: #0056b3;
}

/**************Responsividade do cao Pagina inicial*/

@media (max-width: 768px){
    .logo{
        visibility: hidden;
    }
    .menu{
        position: absolute;
        right: 55px;
    }
    .home-info h1 {
        font-size: 35px;
    }
    
    .home-info h2 {
        font-size: 25px;
    }
    
    .home-info p {
        font-size: 14px;
    }
    
    .home-info .btn-sci .sci a{
        font-size: 16px;
    }
    .home-img .img-box {
        visibility: hidden;
    }
    .sci{
        display: flex;
        flex-direction: row;
        gap: 1px;
        
    }
    /***********Responsividade do cao Pagina Experiencias*/

    .menuDois{
        position: absolute;
        right: -10px;
        top: 10px;
    }
    .escolaridade{
        visibility: hidden;
    }
    
   .tabelaEscolaridade{
    position: relative;
    right: 15px;
    top: 10px;

   }
    
    .home-img2 .img-box2 {
        width: 12vw;
        height: 12vw;
        visibility: hidden;
    }
    
    .home-img2 .img-box2 .img-item2 img{
        width: 125%;
    }
    .tabelaEscolaridade{
        width: 5px;
    }

    /****Responsividade do cao Pagina projetos*/


    .menuTres{
        position: absolute;
        right: -10px;
        top: 10px;
    }
    .home3{
        top: 50px;
    }
    
    .home-info3 .projetos {
        font-size: 35px;
    }
    
    .home-info3 .meusProjetos span {
        font-size: 25px;
    }
    
    .home-info3 p {
        font-size: 14px;
    }
    
    .projetos-sessao{
        padding: 4rem;
    }
    
    .meusProjetos{
        font-size: 35px;
    }
    
    .projetos-container{
        gap: 1rem;
    }
    
    .projeto{
        width: 250px;
    }

}

/********Pagina Sobre*/

.menuQuatro{
    margin-top: 10px;
    position: absolute;
    right: -10px;
    top: 10px;
}